<nav class="navbar">
    <a href="/">Index</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/registration">Register</a>
    <a href="/behavior/reporting">Reporting</a>
    <a href="/behavior/summary">Summary</a>
    <a href="/auth/logout">Logout</a>
</nav>


